// = General


//= Buttons - Heavily inspired by github.com/google/web-starter-kit/blob/master/app/styles/components/_components/_button.scss

$hover-alteration-degree:         2%;
$default-bgcolour-start:          #f5f5f5;
$default-bgcolour-end:            #f1f1f1;

$primary-bgcolour-start:          $brand-green;
$primary-bgcolour-end:            #65bc3e;

$danger-bgcolour-start:           $brand-red;
$danger-bgcolour-end:             #a72700;

$default-text-color:              #565656;
$light-text-color:                $white;

button,
.button,
.btn,
input[type=submit] {
  display: inline-block;
  padding: $gutter-spacing ($gutter-spacing * 2);
  border: 1px solid darken($default-bgcolour-end, $hover-alteration-degree);
  text-align: center;
  text-decoration: none;
  outline: 0;
  transition: none;
  font-weight: bold;

  @include style-button($default-bgcolour-start, $default-bgcolour-end, $default-text-color);

  &:hover {
    @include button-hover($default-bgcolour-start, $default-bgcolour-end, $hover-alteration-degree); // (gradient start colour, gradient end colour, alteration degree)
  }
}

.button--primary,
.btn-primary {
  @include style-button($primary-bgcolour-start, $primary-bgcolour-end, $light-text-color);

  &:hover {
    @include button-hover($primary-bgcolour-start, $primary-bgcolour-end, $hover-alteration-degree);
  }
}

.button--danger,
.btn-danger {
  @include style-button($danger-bgcolour-start, $danger-bgcolour-end, $light-text-color);

  &:hover {
    @include button-hover($danger-bgcolour-start, $danger-bgcolour-end, $hover-alteration-degree);
  }
}

//= Inputs

label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=phone],
input[type=password],
input[type=number],
input[type=search],
textarea {

  border: 1px solid $brand-silver;
  height: $line-height-base;
  outline: none;
  padding: 5px 10px;
  width: 300px;

  min-height: ($line-height-base * 28);
  padding: ($gutter-spacing - 3) ($gutter-spacing - 2);
  color: $brand-gray-dark;
  vertical-align: middle;
  background-color: $white;
  background-repeat: no-repeat; // Repeat and position set for form states (success, error, etc)
  background-position: right center;
  border: 1px solid $brand-silver;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);

  &:focus {
    border-color: $element-outline;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
  }
}

textarea {
  height: $line-height-base*3;
}

form {
  margin-bottom: $gutter-spacing;

  // Wrap each form input/element in a field div
  .field {
    margin-bottom: $gutter-spacing/2;
  }

}
