// Global styles

* {
    @include box-sizing(border-box);
}

html {
  overflow-y: scroll;
    min-height: 100%;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

body {
  font: #{$body-font-size}/1.4 $body-font;
  color: $brand-gray-dark;
  background-color: $white;
}

a {
  color: $brand-blue;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
    color: $brand-blue-darker;
  }
}

hr {
  height: 0;
  margin: 10px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
  @include clearfix();
}

.clearfix {
  @include clearfix();
}


// Fixed-width, centered column for site content.
.container {
  @include clearfix;
}

.column,
.row {
    /* margin-left: -$gutter-spacing;
    margin-right: -$gutter-spacing; */
    @include clearfix;

    > * {
        float: left;
        padding: 0 $gutter-spacing;
    }
}

// Columns defaults

.one-fourth {
    width: 25%;
}

.one-third {
    width: 33.3%;
}

.two-third {
    width: 66.7%;
}

.half-width,
.two-fourth {
    width: 50%;
 }

 .three-fourth {
    width: 75%;
 }

 .full-width {
    width: 100%;
 }

// Responsive overides

// Extra small grid: phones and small devices.

@media (max-width: $screen-xs-max) {
    .one-fourth,
    .one-third,
    .two-third,
    .half-width,
    .two-fourth,
    .three-fourth,
    .full-width {
        @include linearise;
    }

    .column,
    .row {
        margin-left: auto;
        margin-right: auto;     
    }

    .container {
        width: 100%;
    }  
}

// Small grid: phones and potrait tablets.
@media (max-width: $screen-sm) and (max-width: $screen-sm-max) {
    .container {
        width: 100%;
    }

    .column,
    .row {
        margin-left: auto;
        margin-right: auto;     
    }    
}


// Medium grid: Larger landscape tablets and desktops.
@media (min-width: $screen-md) and (max-width: $screen-md-max)  {
    .container {
        width: $container-width-md;
        margin-right: auto;
        margin-left: auto;             
    }
    .column,
    .row {
        margin-left: 0;
        margin-right: 0;     
    }      
}


// Large grid: Large desktop to tvs.
@media (min-width: $screen-lg) {
    .container {
        width: $container-width;
        margin-right: auto;
        margin-left: auto;
    }
}
