// Mixin to create buttons
@mixin style-button($start, $end, $textColor, $isRounded: false) {
  $degree: 5%;
  background: $end;
  color: $textColor;
  border: 1px solid darken($end, $degree);
  background-image: linear-gradient(darken($start, $degree), darken($end, $degree));

  @if $isRounded { border-radius: 5px;}

  &:focus {
    text-decoration: none;
    border-color: $element-outline;
    outline: none;
    box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
  }

  &:focus:hover {
    border-color: $element-outline;
  }

  &:active {
    //background-color: #dcdcdc;
    background-image: none;
    border-color: #b5b5b5;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }
}

@mixin button-hover($start, $end, $degree, $textColor) {
  background-image: linear-gradient(darken($start, $degree), darken($end, $degree));
  border: 1px solid darken($end, $degree * 2);
  text-decoration: none;
  color: $textColor;
}
