// Clearfix
//
// Clears floats via mixin (avoid using as a class).

@mixin clearfix {
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}


// Linearise
// This returns columns to full width.

@mixin linearise {
	float: none;
	width: 100% !important;
}

// Box sizing
@mixin box-sizing($boxmodel) {
   -moz-box-sizing: $boxmodel;
      -webkit-box-sizing: $boxmodel;
           box-sizing: $boxmodel;
}
